:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body {
  margin: 1%;
  width: 100%;
  overflow-x: hidden;
}

.title{
  display: flex;
  justify-content: center;
  scale: 1.2;
}

body input{
  display: block;
  margin: auto;
  height: 1.75rem;
  width: 20rem;
  transition:ease 1s;
  border: none;
  border-bottom: 2px solid #3dafc4;
  text-align: center;
  font-size: x-large;
}

body input:hover {
  width: 40rem;
  transition: ease-out 0.5s;
}

body input:focus {
  width: 40rem;
  outline-style: none;
  box-shadow: #242424;
}

body div{
  padding: 0.2rem;
  text-align:center;
  font-size: large;
  align-content: space-around;
  font-weight: 500;
}

#countries{
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 24px;
  animation:ease-in 1s;
}

#countries {
  animation:ease-in 1s;
}

.name{
  padding: 0.5%;
}

#name{
  font-size: larger;
  font-weight:bold;
}

#button-expand{
  scale: 2;
  border: none;
  background: none;
  cursor: pointer;
}

#further-info-list {
  list-style-type:none;
  display: none;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height:50% ;
}

#flag{
  max-width: 30%;
  max-height: 30%;
}